@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #428fad;
}

.ashu {
  background-color: aqua;
  text-decoration-style: wavy;
  text-decoration-color: blue;
}

Heading {
  background-color: aqua;
  text-decoration-style: wavy;
  text-decoration-color: blue;
}
